doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
  body
    form(action='http://www.kaishishidai.com/agent/a', method='post')
      input(name='name', type='text')
      input(name='id', type='text')
      input(type='submit')