//
   Created by Admin on 2017/8/3.

doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 首页
        // <link rel="stylesheet/less" href="less/bootstrap.less" media="all" />
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/first_page.css')
        script(src='/js/jquery.js')
        script(src='/js/bootstrap.js')
        script(src='/js/first_page.js')
        // <script src="js/less.js"></script>
    body.container
        header
            .top_logo
                img(src='image/logo_option0.png', alt='')
            div(style='border-top:1px solid black')
                ul.nav.navbar-nav.ul2
                    li.col-xs-2
                        a(href='#') 关于领智
                    li.col-xs-2.couse
                        a(href='#') 课程介绍
                        ul.tab
                            li
                                a(href='/couse/bigdata') 大数据分析与应用
                            li
                                a(href='') 网络与信息安全工程师
                    li.col-xs-2
                        a(href='#') 校区一览
                    li.col-xs-2
                        a(href='#') 师资团队
                    li.col-xs-2
                        a(href='#') 最新综合消息
                    li.col-xs-2
                        a(href='#') 联系我们