.newactor_banner{
    width: 100%;
    position: relative;
    height: 4rem;
}
.newactor_banner img{
    width: 100%;
    height: 4rem;
}
.newactor_banner div{
    width: 100%;
    position: absolute;
    bottom: 3%;

}
.newactor_banner div ul{
    width: 100%;

}
.newactor_banner div ul li{

    font-size: 0.30rem;
    text-align: center;
    float: left;
    width: 33.3%;

}
.newactor_banner div ul li.active{
    display: block;
    color: #4da2ad;
    border-bottom: 2px solid #4da2ad;
}

.notice_class{
    margin: 0.1rem 0;
}
.notice_type{
    width: 100%;
    background: rgba(242, 242, 242, 1);
    height: 0.9rem;
}
.notice_type p{
    font-size: 0.28rem;
    color: #222222;
    line-height: 0.9rem;
    margin-left: 0.76rem;
    display: inline;
}

.jiantou{
    float: right;
    clear: both;
    height: 0.9rem;
}
.jiantou img{
    width: 0.5rem;
    margin: 0.2rem 0.62rem 0.2rem 0;
}
.jiantou img:last-child{
    display: none;
}
.detail_type{
    display: none;
}
/*选显卡*/



/*演员样式*/
.display_experience{
    width: 100%;

}
.display_experience>div{
    height: 2.28rem;
    padding:0 0.1rem;
    background: white;
}
.display_experience>div>div{
    float: left;
}
.photo_experience{
    width: 35%;

}
.photo_experience img{
    width: 2.3rem;
    height: 1.9rem;
    margin-top: 0.2rem;
}
.detail_experience{
    width: 50%;
    padding: 1%;
}
.detail_experience img{
    float: right;
    width: 0.4rem;
}
.detail_experience ul{
    margin-top: 0.2rem;
    clear: both;
}
.detail_experience ul li{
    font-size: 0.28rem;
    color: #696969;
}
.detail_experience ul li span{
    color: #222222;
}

section>div{
    display: none;
}
section>div.active{
    display: block;
}
.crew_info{
    width: 100%;
    padding: 0.5rem;
}
.crew_info>p{
    color: #222222;
    font-size: 0.28rem;
    border-left: 3px solid #222;
    height: 0.35rem;
    padding: 0 0.2rem;
    margin-bottom: 0.3rem;
}
.crew_info>div{
    width: 100%;
}
.crew_info>div>p{
    color: #222222;
    width: 100%;
    font-size: 0.28rem;
    line-height: 0.7rem;
    height: 0.7rem;
    padding: 0.1rem 0;
    border-bottom: 1px solid #d7d7d7;

}
/*.crew_info>div>p>span{*/
/*display: inline-block;*/
/*width: 33%;*/
/*}*/